<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet">
    
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFC76iY5Mh9pupgETrXcF-DP3y57bmKME&sensor=false">
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <script src="/js/scripts.js" type="text/javascript"></script>

  </head>
  <body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">



		      <div class="nav-collapse collapse">
				<ul class="nav">
				  <li class="active"><a>Landfills found:</a></li>
  				  <li class="active"><a href="#" id="landfill_length"></a></li>
				</ul>
<!--
		          <button type="button" class="btn" data-toggle="collapse" data-target="#sidebar">
			          Show/Hide List
	  			  </button>
-->

<!-- 	  			<p id="landfill_length"> </p> -->
	  			
				<div class="navbar-form pull-right">
	              <input id="formSearch" class="span2" type="text" placeholder="Landfills...">
	              <button type="submit" class="btn" onclick="searchLandfills()">Search</button>
				</div>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	</div>  
  


<!-- 		  <input id="formSearch" type="text" class="input-medium search-query"> -->
<!-- 		  <button class="btn" onclick="searchLandfills()">Search Landfills</button> -->
<!-- 		  <div id="landfill_length"></div> -->


<!--   	<div id="location"></div> -->

<!-- 	    <div id="map-canvas"/> -->
    
	  	{{{ yield }}}





	 <script src="http://code.jquery.com/jquery.js"></script>
	 <script src="js/bootstrap.min.js"></script>
  </body>
</html>
